html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #000; /* Black background for the page */
  display: flex;
}

.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10px); /* Adjusted to match the smaller cell size */
  grid-template-rows: repeat(auto-fill, 10px); /* Adjusted to match the smaller cell size */
  flex-grow: 1; /* Take up remaining space */
}

.cell {
  width: 10px; /* Reduced size */
  height: 10px; /* Reduced size */
  border: 1px solid #39ff14; /* Neon green border for cells */
  background-color: black; /* Default black background for dead cells */
}

.cell.alive {
  background-color: #39ff14; /* Neon green for alive cells */
}

.sidebar {
  width: 100px; /* Fixed width for the sidebar */
  background-color: #000; /* Black background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #39ff14; /* Neon green color for the icons */
  transition: transform 0.3s ease;
}

.sidebar-button:hover {
  transform: scale(1.2); /* Scale on hover */
}

.sidebar-button svg {
  font-size: 48px; /* Icon size */
  color: #39ff14;
}

.counters {
  margin-bottom: 20px;
  text-align: center;
  color: #39ff14; /* Neon green for text */
}

.counters p {
  margin: 0;
  font-size: 18px;
}
